<span *ngIf="currentBook && photoUrl; else loading">
  <h1 class="title">Edit Book "{{ currentBook.name }}".</h1>


 <div class="container">
  <div class="edit-container">
    <form (ngSubmit)="updateBook(postForm.value)" [formGroup]="postForm">
             
       <h2>Book Editing</h2>
       <hr/>

       <mat-form-field class="full-width">
        <mat-label>Book name</mat-label>
        <input matInput placeholder="name..." formControlName="name" required #bookName>
        <mat-icon matSuffix>create</mat-icon>
        <mat-error *ngIf="postForm.hasError('name')">
          Book name must be at least 5 characters long.
        </mat-error>
        <mat-error *ngIf="!postForm.hasError('requared')">
          Book name is required.
        </mat-error>
      </mat-form-field>
      
      <br>
      
      <mat-form-field class="full-width">
        <mat-label>Author</mat-label>
        <input matInput placeholder="B.Straustrup" formControlName="author" required #author>
        <mat-icon matSuffix>create</mat-icon>
        <mat-error *ngIf="postForm.hasError('author')">
          Author must be at least 5 characters long.
        </mat-error>
        <mat-error *ngIf="!postForm.hasError('requared')">
          Author is required.
        </mat-error>
      </mat-form-field>
      
      <br>

      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  placeholder="description..." 
                  formControlName="description"
                  required
                  #description>
        </textarea>
                  <mat-icon matSuffix>create</mat-icon>
        <mat-error *ngIf="postForm.hasError('description')">
          Description must be at least 10 characters long.
        </mat-error>
        <mat-error *ngIf="!postForm.hasError('requared')">
          Description is required.
        </mat-error>
      </mat-form-field>
      
      <br>

      <mat-form-field class="full-width">
        <mat-label>Categories</mat-label>
        <mat-select formControlName="category" multiple #category>
          <mat-option  *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>create</mat-icon>
      </mat-form-field>
    
      <br>

      <mat-form-field class="full-width">
        <mat-label>Count pages</mat-label>
        <input matInput type="number" formControlName="countPages" required #pages>
        <mat-icon matSuffix>create</mat-icon>
      </mat-form-field>

      <br>
      <button mat-raised-button class="full-width btn-space" color="primary" [disabled]="!postForm.valid"><mat-icon>done</mat-icon></button>
      </form>
      <div *ngIf="id">
        <button mat-raised-button class="full-width btn-space" color="warn" (click)="removeBook(id)"><mat-icon>delete</mat-icon></button>
      </div>
      <button mat-raised-button class="full-width btn-space" color="basic" (click)="back()"><mat-icon>arrow_back</mat-icon></button>
  </div>

  <div class="book-view">
    <div class="full-width">
      <h2>Preview</h2>
      <hr>
    </div>
    <p id="name-book-view">{{(bookName.value)? bookName.value : "Book Name..."}}</p>
    <div class="book-image book-image-1x2">
      <img 
        src="{{(photoUrl)? photoUrl : 'https://jewelleryair.com/upload/iblock/dad/dad83a4c79c9e42b2ac6adaac1a5880f.jpg'}}"
      >
    </div>
    <div class="book-info-block">
      <div id="book-author-view">{{(author.value)? author.value : "Author..."}}</div>
      <br/>
      <div id="description-book-view"
        [ngClass]="{'class': (description.value)}"
      >{{(description.value)? description.value : "Description..."}}</div>
      <br/>
      <div id="category-view">{{(currentBook.category)? currentBook.category : "Category..."}}</div>
      <div id="count-pages-view">{{(pages.value)? pages.value : "0"}} pages</div>
    </div>
    
  </div>

 </div>  
</span>
<ng-template #loading>
  <mat-spinner class="center"></mat-spinner>
</ng-template>